:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.loading-data {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.chart-wrap {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10000;
}
